<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SQTableViewKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A192CA8D1D11223B005D85A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A192CAA61D11223B005D85A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A192CAB11D11223B005D85A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
